@import "src/assets/styles/_variables.scss";

.page-contact {
  height: 100vh;
  background-image: url("https://wallpapersite.com/images/pages/pic_w/4900.jpg");
  background-position: 50%;
  background-size: cover;
  position: relative;

  .container-contact {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -58%);

    h2 {
      color: $font-color;
      font-size: 7em;
      background: linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }


  //&:before {
  //  background-color: rgba(0, 0, 0, .2);
  //  content: "";
  //  display: block;
  //  height: 100vh;
  //  left: 0;
  //  top: 0;
  //  position: absolute;
  //  width: 100%;
  //  z-index: 1;
  //}
}

.form-contact {
  background: #eee;

  .form-container {
    width: 50%;
    padding: 70px 0;
    margin: 0 auto;

    form {
      display: flex;
      flex-direction: column;

      input, textarea {
        padding: 20px;
        margin-top: 2%;
        border: transparent;
        border-radius: 4px;
      }
      .error {
        border: 1px solid $main-color;
        color:$main-color;
      }

      textarea {
        height: 150px;
        resize: none;
      }

      .submit input {
        padding: 15px;
        border: transparent;
        border-radius: 4px;
        background: $main-color;
        cursor: pointer;
        color: $font-color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        margin-top: 30px;

        &:hover {
          background: #f33816;
        }
        &:disabled{
          background: lightgray;
          color: #4e6773;
        }
      }
    }
  }
}
