@import "src/assets/styles/_variables.scss";

.page-header {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url("https://demos.creative-tim.com/paper-kit-2/assets/img/antoine-barres.jpg");
  background-position: 50%;
  background-size: cover;
  overflow: hidden;

  .filter {
    background-color: rgba(0, 0, 0, .5);
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .container-header {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 63%; //top
    left: 50%;
    transform: translate(-50%, -63%);

    h2 {
      color: $font-color;
      font-size: 7em;
      background: linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .fog-low {
      width: 100%;
      bottom: 0;
      position: absolute;
      z-index: 3;
    }

    h3 {
      color: $font-color;
      margin-top: 3%;
      font-size: 24px;
      font-family: 'Noto Sans SC', sans-serif;
      font-weight: normal;
      letter-spacing: 1px;
    }
  }

  .cloud {
    background-image: url(https://demos.creative-tim.com/paper-kit-2/assets/img/clouds.png);
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 250.625em;
    height: 43.75em;
    animation: c 80s linear infinite;
  }

  @keyframes c {
    0% {
      transform: translateZ(0)
    }
    to {
      transform: translate3d(-50%, 0, 0)
    }
  }
}

.skill {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #eee;

  .skill-body {
    width: 40%;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .skills-percent {
      margin-left: 20px;
    }

    p {
      flex: 1;
    }

    .skill_item_body {
      border: 1px solid $main-color;
      border-radius: 10px;
      width: 100%;
      height: 20px;
      flex: 3;

      .skill_item {
        background: $main-color;
        border-radius: 10px;
        height: 100%;
      }
    }
  }
}